img {
  width : 150px;
  height : 150px;
}
.FlexEntete{
  background-color: #219F94;
}
a{
   color:black;
 }
ul{
  font-size :20px;
  font-family: 'Poppins', sans-serif;
}
h1{
  font-family: 'Poppins', sans-serif;
}
